@use "_layout" as layout;
@use "_media" as media;
@use "_variables" as variables;
@use "_functions" as functions;

@keyframes spin {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -500px 0;
  }
}

.header {
  @include layout.grid;

  place-items: center;
  background-color: variables.$color-theme-background;
  color: variables.$color-theme;

  &__icon--earth {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("../../assets/earth.jpeg") repeat-x;
    background-size: cover;
    animation: spin 100s linear infinite;
    box-shadow: 0 35px 10px -12px rgb(0 0 0 / 20%);
    margin-block: functions.spacing(variables.$spacing-size-md);
  }

  &__title {
    text-align: center;
    text-shadow: 0 4px 6px rgb(0 0 0 / 20%);
  }

  &__nav-item--none::marker {
    content: variables.$list-style-none;
  }

  &__nav-items {
    margin: 0;
    padding: 0;
    margin-top: functions.spacing(variables.$spacing-size-md);

    &--open {
      text-shadow: 0 4px 6px rgb(0 0 0 / 20%);
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      justify-content: space-between;
    }

    &--closed {
      display: none;
    }
  }

  &__nav {
    margin-bottom: functions.spacing(variables.$spacing-size-md);
    display: flex;
    flex-direction: column;
    width: 100%;

    &-items {
      padding-left: 15%;
    }

  }

  &__menu-toggle {
    padding: 2px;
    line-height: 0;
    border-radius: 20%;
    border-style: none;
    box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
    align-self: center;
    flex: 0 0 auto;
  }

  @include media.respond-to(md) {
    @include layout.grid(
      2,
      functions.spacing(variables.$spacing-size-md),
      functions.spacing(variables.$spacing-size-md)
    );

    &__icon--earth {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    &__title {
      justify-self: start;
      text-align: left;
    }

    &__menu-toggle {
      display: none;
    }

    &__nav {
      grid-column: 2;
      justify-self: start;
      margin-top: 0;
    }

    &__nav-items {
      display: flex;
      flex-direction: row;
      padding: 0;
      width: 100%;
      justify-content: start;
      column-gap: functions.spacing(variables.$spacing-size-md);
    }
  }
}
