@use '_variables' as variables;
@use '_functions' as functions;
@use '_media' as media;

h1 {
  font-size: functions.modular-scale(variables.$font-size-lg);
  margin-bottom: functions.spacing(variables.$spacing-size-lg);
  font-weight: 700;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-xl);
    margin-bottom: functions.spacing(variables.$spacing-size-xl);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-xxl);
    margin-bottom: functions.spacing(variables.$spacing-size-xxl);
  }
}

h2 {
  font-size: functions.modular-scale(variables.$font-size-md);
  margin-bottom: functions.spacing(variables.$spacing-size-md);
  font-weight: 600;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-lg);
    margin-bottom: functions.spacing(variables.$spacing-size-lg);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-xl);
    margin-bottom: functions.spacing(variables.$font-size-xl);
  }
}