@use "_variables" as variables;
@use "_functions" as functions;
@use "_media" as media;

h1 {
  font-size: functions.modular-scale(variables.$font-size-lg);
  margin-bottom: functions.spacing(variables.$spacing-size-md);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-xl);
    margin-bottom: functions.spacing(variables.$spacing-size-lg);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-xxl);
    margin-bottom: functions.spacing(variables.$spacing-size-xl);
  }
}

h2 {
  font-size: functions.modular-scale(variables.$font-size-md);
  margin-bottom: functions.spacing(variables.$spacing-size-md);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-lg);
    margin-bottom: functions.spacing(variables.$spacing-size-lg);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-xl);
    margin-bottom: functions.spacing(variables.$font-size-xl);
  }
}

p {
  font-size: functions.modular-scale(variables.$font-size-sm);
  margin-bottom: functions.spacing(variables.$spacing-size-md);
  font-weight: 400;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-md);
    margin-bottom: functions.spacing(variables.$spacing-size-lg);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-lg);
    margin-bottom: functions.spacing(variables.$spacing-size-xl);
  }
}

a {
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;

  @include media.respond-to(md) {
    font-size: functions.modular-scale(variables.$font-size-sm);
  }

  @include media.respond-to(lg) {
    font-size: functions.modular-scale(variables.$font-size-md);
  }
}
