// Colors
$color-background-theme: #09095f;
$color-theme: #fff;
$color-nav-theme: #cff;

// Spacing
$spacing-size-sm: -1;
$spacing-size-md: 1;
$spacing-size-lg: 2;
$spacing-size-xl: 3;
$spacing-size-xxl: 4;

// Typography
$font-size-sm: -1;
$font-size-md: 1;
$font-size-lg: 2;
$font-size-xl: 3;
$font-size-xxl: 4;
$font-size-xxxl: 5;
