// Colors
$color-theme-background:  pink;
$color-theme: #fff;
$color-theme-nav: #cff;

// Spacing
$spacing-size-sm: 0;
$spacing-size-md: 1;
$spacing-size-lg: 2;
$spacing-size-xl: 3;
$spacing-size-xxl: 4;

// Typography
$font-size-sm: 0;
$font-size-md: 1;
$font-size-lg: 2;
$font-size-xl: 3;
$font-size-xxl: 4;
$font-size-xxxl: 5;

// List Styles
$list-style-none: "";

